<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test.layarkita">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="@android:icon">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="@string/title_activity_list"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".DetailActivity"
            android:label="Layarkita"
            android:parentActivityName=".ListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.layarkita.ListActivity" />
        </activity>
        <activity
            android:name=".InsertActivity"
            android:label="Masukan Video Baru"
            android:parentActivityName=".ListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.layarkita.ListActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.layarkita.LoginActivity" />
        </activity>
        <activity
            android:name=".UserListActivity"
            android:label="Layarkita"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserDetailActivity"
            android:label="@string/title_activity_user_detail"
            android:parentActivityName=".UserListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.layarkita.UserListActivity" />
        </activity>
        <activity
            android:name=".UserInsertActivity"
            android:label="Rekomendasikan Video Kamu!"
            android:parentActivityName=".UserListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.layarkita.UserListActivity" />
        </activity>
        <activity
            android:name=".RekListActivity"
            android:label="List Video Rekomendasi"
            android:parentActivityName=".ListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.layarkita.ListActivity" />
        </activity>
        <activity
            android:name=".RekDetailActivity"
            android:label="Detail Video Rekomendasi"
            android:parentActivityName=".RekListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.test.layarkita.RekListActivity" />
        </activity>
    </application>

</manifest>
